@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Table Reservation project</h1>
    <p class="lead">Online table reservation is an univesity project.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Check the restaurants</h2>
        <p>
            Check out our vast collection of restaurants you could visit.
        </p>
        <p><a class="btn btn-default" href="/Restaurants">Restaurants &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check out your account</h2>
        <p>Check out your account settings and such.</p>
        <p><a class="btn btn-default" href="/User">Users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reservations</h2>
        <p>Check out the reservations that you've made.</p>
        <p><a class="btn btn-default" href="/Reservations">Reservations &raquo;</a></p>
    </div>
</div>